[user]
	email = huntmckay@gmail.com
	name = Hunter McKay
	signingkey = CC120D6501B3BD9480E5A113AEDD727A3D406627
[commit]
	gpgsign = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	l = log -n 2 --stat
[core]
	editor = vim
	ignorecase = true
[merge]
	tool = vimdiff
[help]
	autocorrect = 1
[color]
	ui = auto
[pull]
	rebase = true
